.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMoreButton:hover {
  background-color: #303f9f;
}
